# Directories #
/*/build/
/*/bin/
/*/target/
/.settings/
/*/.settings/


# files #
.project
.classpath
.springBeans/referaice-web/
/referaice-web/
/referaice-cloudconfig/
/referaice-model/
/referaice-service-discovery-eureka/
/referaice-common-api/
/referaice-constants/
/referaice-service/
